<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LPATest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AdoModel1" connectionString="data source=QINGFENG\MSSQL_TEST;initial catalog=MSB_Report;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="MSB_ReportEntities" connectionString="metadata=res://*/AdoModel2.csdl|res://*/AdoModel2.ssdl|res://*/AdoModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QINGFENG\MSSQL_TEST;initial catalog=MSB_Report;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WpfDBTest.Properties.Settings.MSB_ReportConnectionString"
      connectionString="Data Source=QINGFENG\MSSQL_TEST;Initial Catalog=MSB_Report;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LPATest.Properties.Settings.MSB_ReportConnectionString"
      connectionString="Data Source=QINGFENG\MSSQL_TEST;Initial Catalog=MSB_Report;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <LPATest.Properties.Settings>
      <setting name="Culture" serializeAs="String">
        <value>en-US</value>
      </setting>
    </LPATest.Properties.Settings>
  </userSettings>
</configuration>