<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="logFile" xsi:type="File" fileName="C:/Log/${date:format=yyyy-MM}/${date:format=dd}/${logger}.log"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="logFile"/>
  </rules>
</nlog>
